<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallery</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <nav>
    <button><a href="./">Home</a></button>
    <button><a href="./about">About</a></button>
    <button><a href="./works">Works</a></button>
  </nav>
  <section class="gallery">
    <img
      src="./images/download.jpeg"
      alt="Stephen Hawking"
      class="galleryImg"
    />
    <img src="./images/hawkins.jpeg" alt="Stephen Hawking" class="galleryImg" />
  </section>
  <section class="gallery">
    <img
      src="./images/download1.jpeg"
      alt="Stephen Hawking"
      class="galleryImg"
    />
    <img
      src="./images/Stephen-Hawking-time-management.jpeg"
      alt="Stephen Hawking"
      class="galleryImg"
    />
  </section>
  <section class="gallery">
    <img
      src="./images/stephen-hawking.jpeg"
      alt="Stephen Hawking"
      class="galleryImg"
    />
    <img
      src="./images/stephen-hawking1.jpeg"
      alt="Stephen Hawking"
      class="galleryImg"
    />
  </section>
  <body></body>
</html>
