<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <nav>
      <button><a href="./about">About</a></button>
      <button><a href="./works">Works</a></button>
      <button><a href="./gallery">Gallery</a></button>
    </nav>
    <h1>Welcome to our page about the genius Sephen Hawking</h1>
    <div class="homesection">
      <img
        class="pageImg"
        src="./images/Stephen-Hawking-time-management.jpeg"
        alt="Stephen Hawking with Barack Obama"
        id="homeImg"
      />
      <div>
        <article class="quote1">
          “Intelligence is the ability to adapt to change. ” ― Stephen Hawking
        </article>

        <article class="quote2">
          “Remember to look up at the stars and not down at your feet. Try to
          make sense of what you see and wonder about what makes the universe
          exist. Be curious. And however difficult life may seem, there is
          always something you can do and succeed at. It matters that you don't
          just give up.” ― Stephen Hawking
        </article>
      </div>
    </div>
  </body>
</html>
