<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Works</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <nav>
      <button><a href="./">Home</a></button>
      <button><a href="./about">About</a></button>
      <button><a href="./gallery">Gallery</a></button>
    </nav>
    <img
      src="./images/2001890313.jpeg"
      alt="Stephen Hawking in front of a board"
      id="worksImg"
    />
    <section id="works">
      <div id="publications">
        <h2>Publications</h2>
        <ul>
          <li>A Brief History of Time (1988)</li>
          <li>Black Holes and Baby Universes and Other Essays (1993</li>
          <li>The Universe in a Nutshell (2001)</li>
          <li>On the Shoulders of Giants (2002)</li>
          <li>
            God Created the Integers: The Mathematical Breakthroughs That
            Changed History (2005)
          </li>
          <li>
            The Dreams That Stuff Is Made of: The Most Astounding Papers of
            Quantum Physics and How They Shook the Scientific World (2011)
          </li>
          <li>My Brief History (2013)</li>
          <li>Brief Answers to the Big Questions (2018)</li>
        </ul>
      </div>

      <div id="films">
        <h2>Films About Him</h2>
        <ul>
          <li>A Brief History of Time (1992)</li>
          <li>Stephen Hawking's Universe (1997)</li>
          <li>
            Hawking – BBC television film (2004) starring Benedict Cumberbatch
          </li>
          <li>Horizon: The Hawking Paradox (2005)</li>
          <li>Masters of Science Fiction (2007)</li>
          <li>Stephen Hawking and the Theory of Everything (2007)</li>
          <li>Stephen Hawking: Master of the Universe (2008)</li>
          <li>Into the Universe with Stephen Hawking (2010)</li>
          <li>Brave New World with Stephen Hawking (2011)</li>
          <li>Stephen Hawking's Grand Design (2012)</li>
          <li>The Big Bang Theory (2012, 2014–2015, 2017)</li>
          <li>Stephen Hawking: A Brief History of Mine (2013)</li>
          <li>
            The Theory of Everything – Feature film (2014) starring Eddie
            Redmayne
          </li>
          <li>Genius by Stephen Hawking (2016)</li>
        </ul>
      </div>
    </section>
  </body>
</html>
