body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  width: 20rem;
}

#homeImg {
  width: 50rem;
}

button {
  border: 1px solid darkgray;
  border-radius: 15px;
  padding: 10px 20px;
  margin: 5px 10px;
  font-size: 14px;
  color: black;
}

a {
  text-decoration: none;
}

div {
  border: 1px solid darkgray;
  border-radius: 15px;
  padding: 10px 20px;
  margin: 5px 10px;
  text-align: block;
}

#about,
#keyfacts,
#works,
.gallery {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin: 20px;
}

#education,
#disability,
#publications,
#films {
  width: 50%;
}

#worksImg {
  margin: 20px;
}

.galleryImg {
  width: 50%;
  margin: 10px;
}
